@import "src/css/settings/_colors.scss";

.success {
  $color: #f1f8e9;
  cursor: auto;
  width: 100%;
  color: $color;
  background-color: $success-color;

  &:focus, &:hover, &:disabled {
    color: $color;
    background-color: $success-color;
  }
}
