///* ========================================================================
//   #COLORS
//   ======================================================================== */
// Setting variables for all the colors we use across the site.

$background-color: #fcfcfc;
$header-color: #39394c;
$text-color: darken($header-color, 5);
$link-color: #09b6ef;
$success-color: #8bc34a;
$error-color: #f44336;

// These are used for setting the color of links/icons for different websites.
$brand-colors: (
  twitter: #1da1f2,
  github: #333,
  contact: #f44336
);
