@import "~inuitcss/settings/settings.core";
@import "~bourbon-neat/core/neat";

@import "src/css/settings/_colors.scss";
@import "src/css/settings/_global.scss";
@import "src/css/settings/_grid.scss";

.base {
  @include grid-collapse;

  margin-bottom: $inuit-global-spacing-unit-huge*1.5;

  @include grid-media($neat-grid) {
    height: $inuit-global-spacing-unit-huge*4;
  }
}

.bio {
  @include grid-column(1 of 3);
}

.preview {
  @include grid-column(2 of 3);
  height: 100%;
  border-bottom: 0;
}

.view {
  float: right;
}

.image {
  background: no-repeat center center;
  background-size: cover;
  height: 100%;
}
