@import "~inuitcss/settings/settings.core";
@import "~bourbon-neat/core/neat";
@import "src/css/settings/_global.scss";
@import "src/css/settings/_grid.scss";

.image {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: $box-shadow;
}
