@import "~inuitcss/settings/settings.core";
@import "~inuitcss/tools/tools.font-size";
@import "~bourbon-neat/core/neat";

.base {
  padding: 20vh 0;
}

.intro {
  @include grid-column(2 of 3);
}

.bio {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: $inuit-global-spacing-unit-large;
}
