@import "~inuitcss/settings/settings.core";
@import "src/css/settings/_global.scss";
@import "src/css/settings/_colors.scss";

$color: map-get($action-button, text);
$hover: lighten($color, 20);
$bg-color: map-get($action-button, bg);

.base {
  background-color: $bg-color;
  color: $color;
  font-weight: bold;
  display: inline-block;

  margin-top: $inuit-global-spacing-unit;
  padding: $inuit-global-spacing-unit/2.5 $inuit-global-spacing-unit;

  box-shadow: $box-shadow;

  &:hover {
    color: $hover;
  }

  // Removing default link styles
  border-bottom: none;
}

.icon {
  margin-left: $inuit-global-spacing-unit-tiny;
}
